{% extends 'base.html.twig' %}

{% block title %}OptionAbonnement index{% endblock %}

{% block body %}
    <h1>OptionAbonnement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomOption</th>
                <th>Tarif</th>
                <th>TypeAcces</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option_abonnement in option_abonnements %}
            <tr>
                <td>{{ option_abonnement.id }}</td>
                <td>{{ option_abonnement.nomOption }}</td>
                <td>{{ option_abonnement.tarif }}</td>
                <td>{{ option_abonnement.typeAcces }}</td>
                <td>{{ option_abonnement.description }}</td>
                <td>
                    <a href="{{ path('option_abonnement_show', {'id': option_abonnement.id}) }}">show</a>
                    <a href="{{ path('option_abonnement_edit', {'id': option_abonnement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('option_abonnement_new') }}">Create new</a>
{% endblock %}
