{% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}
    <h1>Salle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomSalle</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Horaires</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.nomSalle }}</td>
                <td>{{ salle.adresse }}</td>
                <td>{{ salle.cp }}</td>
                <td>{{ salle.ville }}</td>
                <td>{{ salle.tel }}</td>
                <td>{{ salle.email }}</td>
                <td>{{ salle.horaires }}</td>
                <td>
                    <a href="{{ path('salle_show', {'id': salle.id}) }}">show</a>
                    <a href="{{ path('salle_edit', {'id': salle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('salle_new') }}">Create new</a>
{% endblock %}
