{% extends 'base.html.twig' %}

{% block title %}Coach{% endblock %}

{% block body %}
    <h1>Coach</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coach.id }}</td>
            </tr>
            <tr>
                <th>NomCoach</th>
                <td>{{ coach.nomCoach }}</td>
            </tr>
            <tr>
                <th>PrenomCoach</th>
                <td>{{ coach.prenomCoach }}</td>
            </tr>
            <tr>
                <th>ClubCoach</th>
                <td>{{ coach.clubCoach }}</td>
            </tr>
            <tr>
                <th>PhotoCoach</th>
                <td>{{ coach.photoCoach }}</td>
            </tr>
            <tr>
                <th>TelCoach</th>
                <td>{{ coach.telCoach }}</td>
            </tr>
            <tr>
                <th>Discipline</th>
                <td>{{ coach.discipline }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coach_index') }}">back to list</a>

    <a href="{{ path('coach_edit', {'id': coach.id}) }}">edit</a>

    {{ include('coach/_delete_form.html.twig') }}
{% endblock %}
